ALPHA_VANTAGE_API_KEY=DEMO
CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379
DJANGO_SETTINGS_MODULE=crypto.settings
DATABASE_PROTOCOL=postgres
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_DB=db
DATABASE_HOST=postgres